@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Quicksand&family=Staatliches&family=Ubuntu+Mono&family=Unna&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --brightYellow: rgb(225, 177, 0);
  --lightYellow: rgb(232, 226, 190);
  --darkyellow: rgb(238, 227, 168);
  --white: rgb(254, 254, 254);
  --dark: rgb(36, 36, 36);
  --darker: rgb(93, 95, 96);
  --linear-dark: hsla(0, 0%, 0%, 0.445);
  --linear-darker: hsla(0, 0%, 0%, 0.712);
  --black: rgb(12, 12, 12);
  --main-font: "Unna";
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 63em) 1fr;
  grid-template-rows: 100vh 160em 20vh;
  background-color: var(--dark);
  margin: 0;
  padding: 0;
}

header {
  grid-row: 1/2;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 63em) 1fr;
  background-color: rgb(36, 36, 36);
  background: linear-gradient(var(--linear-darker), var(--linear-dark)),
    url("./images/chicken.jpg") no-repeat center top / cover;
}

#content {
  grid-row: 2/3;
  grid-column: 2/3;
}

#divInsideContent {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.644)), url("./images/dumpling.jpg") center center / cover fixed;
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-columns: 1fr minmax(auto, 63em) 1fr;
  white-space: pre;

}

#info {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: var(--main-font);
  color: var(--white);
  font-weight: bold;
}

#info p {
  font-family: var(--main-font);
  font-size: 1.5em;
}

#info h1 {
  font-size: 2em;
  font-weight: bold;
}

.header-div {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 8%;
}

.navigation {
  background-color: var(--black);
  font-weight: bold;
  color: var(--white);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  font-family: var(--main-font);
  font-size: 1.3em;
  cursor: pointer;
  user-select: none;
}

.navigation:hover {
  background-color: var(--brightYellow);
}

.stickyBar {
  width: 63em;
  position: fixed;
  top: 0;
  z-index: 4;
}

#motto {
  color: var(--white);
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  width: 70%;
}

.motto-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 30%;
  font-family: var(--main-font);
}

#orderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--black);
  color: var(--white);
  width: 40%;
  height: 25%;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 1em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

#orderOnline {
  text-decoration: none;
}

#orderButton:hover {
  background-color: var(--brightYellow);
}

#rAddress {
  color: var(--white);
  font-size: 1.2em;
}

#offersAndMenu {
  background-color: var(--lightYellow);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.3fr 0.7fr;
  height: 50%;
  font-family: var(--main-font);
}

#offersText {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#offersText p {
  width: 60%;
  font-size: 2.5em;
  font-weight: bold;
  font-family: var(--main-font);
  line-height: 1.2em;
}

#offersText::before {
  content: '"';
  display: block;
  position: relative;
  z-index: 1;
  opacity: 0.3;
  font-size: 200px;
  color: rgb(31, 31, 31);
  font-family: var(--main-font);
  font-weight: 600;
  top: -100px;
  left: -100px;
}

#offersText::after {
  content: '"';
  display: block;
  position: relative;
  z-index: 1;
  opacity: 0.3;
  font-size: 200px;
  color: rgb(31, 31, 31);
  font-family: var(--main-font);
  font-weight: 600;
  bottom: -150px;
  right: -100px;
}

#foodHygiene {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#foodHygiene img {
  height: 82%;
  width: 80%;
}


#menuPdf {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 2em;
}

#menuPdf a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 55%;
  font-size: 1.5em;
  border: none;
  color: var(--white);
  background-color: var(--black);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 1em;
  text-decoration: none;
}

#menuPdf a:hover {
  background-color: var(--brightYellow);
}

#otherWaysDiv {
  grid-column: 1/3;
  grid-row: 4/5;
  background-color: var(--lightYellow);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#otherWaysText {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2em;
  font-weight: bold;
  background-color: var(--lightYellow);
  color: var(--black);
}

#contactPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  background-color: var(--black);
}

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 30%;
  color: var(--white);
}

.inputs {
  margin-bottom: 3%;
  margin-top: 1%;
  width: 100%;
  resize: none;
}

#contactForm button {
  border: none;
  width: 100%;
  height: 5%;
}

#storeDetails img {
  width: 50%;
  height: 66%;
}

#storeDetails {
  width: 50%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

#storeDetailImg {
  width: 30%;
  height: 50%;
}

#storeDetailsDiv {
  color: var(--white);
  font-size: 1em;
  width: 45%;
  line-height: 2em;
  white-space: pre;
}

#mapOfRestaurantDiv {
  height: 24%;
  width: 100%;
}

#mapOfRestaurant {
  height: 100%;
  width: 100%;
  border: 0;
}

#contactUs {
  margin-bottom: 15%;
  font-size: 1.7em;
  font-weight: bold;
}

footer {
  grid-row: 3/4;
  grid-column: 1/4;
  background: linear-gradient(rgb(73, 73, 73), rgb(12, 12, 12));
  display: grid;
  grid-template-columns: 1fr minmax(auto, 63em) 1fr;
  grid-template-rows: 0.1fr 1fr;
  border-top: rgb(100, 100, 100) 1px solid;
}

#footerSubDiv {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  white-space: pre;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--white);
}

#footerSubDiv p {
  margin-top: 0.5em;
  font-size: 1em;
  font-weight: normal;
  color:var(--brightYellow);
  line-height: 1.2em;
}

.footerDivs:last-child {
  width: 15%;

}

.footerDivs img {
  margin-right: 1em;
  margin-top: 0.5em;
}

#deliveryCharge {
margin-top: 1em;
margin-bottom: 0.5em;
line-height: 2em;
}

#paymentDiv {
 margin-top: 1.5em;
}

#info ul {
  margin-top: 1em;
  font-size: 1.5em;
  list-style-type: disc;
}

#galleryDiv{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(240px, 1fr));
  grid-gap: 0.5em;
  margin-top: 2em;
}

.galleryImages {
  max-width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  color: white;
  font-size: 2em;
}

.galleryImages img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.textOverImage:hover{
  background-color: rgba(32, 32, 32,0.5);
}

.textOverImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.844);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: 250ms transform;
}

#selectedImage {
  max-height: 100%;
}

#allergensDiv {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
}


@media only screen and (max-width: 1026px) {
  .sticky {
    width: 100%;
  }
}
